    body {
      font-family: Arial, Helvetica, sans-serif;     }

    .container{
          margin: auto;
            background-color:transparent;
            height: 500px;
            color: white;
            border-radius: 10px;
    }


    h2#playerName {
      color: #007bff;
      margin-bottom: 30px;
      font-size: 2em;
    }

    .parameter-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
      gap: 15px;
      margin-top: 20px;
    }

    .parameter-card {
      background-color: #28a745;
      color: white;
      padding: 25px;
      border-radius: 6px;
      font-size: 1.2em;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
    }

    .parameter-card:hover {
      background-color: #11461c;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .iframeMenu {
      margin-top: 1px;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .iframex {
      margin-top: 40px;
      width: 100%;
      height: 600px;
      border: none;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    /* overlay caricamento dati */
    #loadingOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      color: white;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      display: none;
    }

    /*    -- for_menu_green    */
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .active {
        background-color: #4CAF50;
        color: white;
      }

      .topnav .icon {
        display: none;
      }

      .dropdown {
        float: left;
        overflow: hidden;
      }

      .dropdown .dropbtn {
        font-size: 17px;    
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

      .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #555;
        color: white;
      }

      .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      @media screen and (max-width: 600px) {
        .topnav a:not(:first-child), .dropdown .dropbtn {
          display: none;
        }
        .topnav a.icon {
          float: right;
          display: block;
        }
      }

      @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
        .topnav.responsive .dropdown {float: none;}
        .topnav.responsive .dropdown-content {position: relative;}
        .topnav.responsive .dropdown .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
        }
      }

